@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    background-color: #00293f;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #054d75;
    color: white;
    padding: 10px;
}

header > h1 {
    text-align: center;
    display: inline-block;
}

img {
    width: 8em;
    height: 5em;
    padding-left: 77%;
    margin: 0px;
    display: inline-block;
}

nav > a {
    background-color: #00293f;
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

nav > a:hover {
    background-color: #ff9100a0;
    transition-delay: 0.1s;
}

main {
    max-width: 750px;
    margin: auto;
    color: white;
}

main > h1 {
    text-align: center;
    padding: 15px;
}

td {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px;
}

